OutputDocx/.vs/OutputDocx/config/applicationhost.config
OutputDocx/.vs/OutputDocx/DesignTimeBuild/.dtbcache.v2
OutputDocx/.vs/OutputDocx/FileContentIndex/0075bdf9-daa5-4926-b296-0e3bf6c2ad8e.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/71bc2c3c-83b8-496a-9ce9-6e9cf71854e9.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/8246fd13-3db3-4a78-85b3-5de34a7b3b84.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/ec2430f5-4ef4-4d45-9b71-289d79e26c29.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/read.lock
OutputDocx/.vs/OutputDocx/v17/.futdcache.v2
OutputDocx/.vs/OutputDocx/v17/.suo
OutputDocx/.vs/ProjectEvaluation/outputdocx.metadata.v5.1
OutputDocx/.vs/ProjectEvaluation/outputdocx.projects.v5.1
OutputDocx/OutputDocx/obj/OutputDocx.csproj.nuget.dgspec.json
OutputDocx/OutputDocx/obj/OutputDocx.csproj.nuget.g.props
OutputDocx/OutputDocx/obj/OutputDocx.csproj.nuget.g.targets
OutputDocx/OutputDocx/obj/project.assets.json
OutputDocx/OutputDocx/obj/project.nuget.cache
OutputDocx/OutputDocx/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
OutputDocx/OutputDocx/obj/Debug/net6.0/apphost.exe
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.AssemblyInfo.cs
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.AssemblyInfoInputs.cache
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.assets.cache
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.csproj.AssemblyReference.cache
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.csproj.BuildWithSkipAnalyzers
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.csproj.CopyComplete
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.csproj.CoreCompileInputs.cache
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.csproj.FileListAbsolute.txt
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.dll
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.GeneratedMSBuildEditorConfig.editorconfig
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.genruntimeconfig.cache
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.GlobalUsings.g.cs
OutputDocx/OutputDocx/obj/Debug/net6.0/OutputDocx.pdb
OutputDocx/OutputDocx/obj/Debug/net6.0/ref/OutputDocx.dll
OutputDocx/OutputDocx/obj/Debug/net6.0/refint/OutputDocx.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/appsettings.json
OutputDocx/OutputDocx/bin/Debug/net6.0/DocumentFormat.OpenXml.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Binder.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.CommandLine.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Configuration.UserSecrets.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Hosting.Abstractions.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Hosting.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Logging.Configuration.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Logging.Console.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Logging.Debug.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventLog.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventSource.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/Newtonsoft.Json.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/OutputDocx.deps.json
OutputDocx/OutputDocx/bin/Debug/net6.0/OutputDocx.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/OutputDocx.exe
OutputDocx/OutputDocx/bin/Debug/net6.0/OutputDocx.pdb
OutputDocx/OutputDocx/bin/Debug/net6.0/OutputDocx.runtimeconfig.json
OutputDocx/OutputDocx/bin/Debug/net6.0/System.Diagnostics.EventLog.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/System.IO.Packaging.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/TemplateEngine.Docx.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/File/SchoolInformation-Template.docx
OutputDocx/OutputDocx/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
OutputDocx/OutputDocx/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
OutputDocx/.vs/OutputDocx/FileContentIndex/3e4cd2a9-9407-4ce1-803e-bc11497d6aed.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/680c9fb8-f422-4444-96d7-05dfb111e472.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/acc44209-e8b9-48bf-bcb7-7b78179106ca.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/b44eaf71-0e16-476c-aedf-59d58af4637c.vsidx
OutputDocx/.vs/OutputDocx/FileContentIndex/03892a47-e974-46bd-8fb1-6f2bd0ff3327.vsidx
